<a href="https://colab.research.google.com/github/addalasaikishore/saikishore_info5731_2021/blob/main/INFO5731_Assignment_One_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [ ]:
import random

mylist1 = []

for i in range(0,12):
    x = random.randint(1,100)
    mylist1.append(x)
    mylist1.sort()

print(mylist1)

mylist2 = []

for i in range(0,12):
    x = random.randint(1,100)
    mylist2.append(x)
    mylist2.sort(reverse = True) 
    
print(mylist2)    

res = sum(mylist1 + mylist2) / len(mylist1 + mylist2) 
  
print ("The Average of both lists is : " + str(res))

[2, 4, 5, 9, 20, 50, 62, 62, 63, 64, 80, 98]
[94, 89, 88, 83, 77, 69, 60, 45, 42, 11, 10, 2]
The Average of both lists is : 49.541666666666664

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [ ]:
s=input()
b=s.split()
print(b)
k=[]
for i in range(0,len(b)):
    for j in range(i+1,len(b)):
        if b[i]==b[j]:
            print("common words ::",b[i])            
#Alas ! Am I alive ? This is my first python program
b.remove("!")
b.remove("?")
string=" ".join(b)
print(string)
v="aeiou"
string=string.casefold()
c={}.fromkeys(v,0)
for char in string:
    if char in c:
        c[char]+=1
print(c)

"Alas ! Am I alive ? This is my first python program"
['"Alas', '!', 'Am', 'I', 'alive', '?', 'This', 'is', 'my', 'first', 'python', 'program"']
"Alas Am I alive This is my first python program"
{'a': 5, 'e': 1, 'i': 5, 'o': 2, 'u': 0}

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [1]:
# Your code here

import numpy as np
import math
import pandas as pd
k=math.pi
r=[]
v=[]
for i in range(1,11):
    c=round((4/3)*k*pow(i,3),2)
    r.append(i)
    v.append(c)
df=pd.DataFrame()
df["r"]=r
df["v"]=v
df.set_index("r",inplace=True)
df

          v
r
1      4.19
2     33.51
3    113.10
4    268.08
5    523.60
6    904.78
7   1436.76
8   2144.66
9   3053.63
10  4188.79

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://github.com/unt-iialab/info5731_spring2021/blob/main/assignment/Assignment1_denton_housing.csv) included with this assignment. The file [Assignment1_denton_housing.csv](https://github.com/unt-iialab/info5731_spring2021/blob/main/assignment/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [14]:
# Your code here

ParserError: ignored

In [ ]:
_